* {
    box-sizing: border-box;
  }
  
  body {
    background: #a7a7a7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    line-height: 1;
    font-family: "Patrick Hand", sans-serif;
  }
  
  .cards {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 10px;
  }
  
  .game-card {
    height: 150px;
    width: 150px;
    border-radius: 2px;
    background: #000;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  
  .game-card.flipped .inner {
    transform: rotateY(180deg);
  }
  
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
  }

  .block {
    padding: 15px;
  }
  
  .game-card .front,
  .game-card .back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .game-card .front {
    background: rgb(99, 84, 228);
    transform: rotateY(180deg);
  }
  
  .game-card .back {
    background: #000000;
    color: #807d7d;
    font-size: 100px;
    transition: 0.3s ease all;
  }
  
  .game-card .back:hover {
    background: #5f5e5e;
    color: #fff;
    transform: scale(1.06);
  }
  
  div.is-disabled
  {
    pointer-events: none;
  }
